<aside class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li><a (click)="navigateTo('login')" class="nav-link">Dashboard</a></li>
      <li><a (click)="navigateTo('matricula')" class="nav-link">Matrícula</a></li>
      <li><a href="#" class="nav-link">Mis Materias</a></li>
      <li><a href="#" class="nav-link">Horarios</a></li>
      <li><a href="#" class="nav-link">Calificaciones</a></li>
      <li><a href="#" class="nav-link">Perfil</a></li>
    </ul>
  </nav>
</aside>
